

 h2 {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    color:teal
  }

  .row {
  margin: 15px;
  align-self: center;
    }

    .navbar-brand {
      color: white;
      font-family: 'Pattaya', sans-serif;
      font-size: 30px;
      font: teal;
      background-image: none;
      background-repeat: no-repeat;
     }

     .col-med-9{
      font-family: 'Pompiere', cursive;
      font-size: 20px;
     }
     .footer {
      background-color:teal;
     }

   
    .navbar-custom { 
      background-color: teal; 
      font: white;
  } 

  #links {
    font-size:x-large;
    font-style: oblique;
  }