

 /* h2 {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    color:teal;
    font-family: 'Spicy Rice', cursive;
  } */

  .row {
  margin: 15px;
  align-self: center;
    }

    .navbar-brand {
      color: white;
      font-family: 'Pattaya', sans-serif;
      font-size: 30px;
      font: teal;
      background-image: none;
      background-repeat: no-repeat;
     }

     .col-med-9{
      font-family: 'Pompiere', cursive;
      font-size: 20px;
     }
     .footer {
      background-color:teal;
     }

     .form-group{
       margin-right: 2cm;
       margin-left: 2cm;
       }
      
#Message{
height: 150px;
}
#btn btn-primary{
  align-content: center;
}

    .navbar-custom { 
      background-color: teal; 
      font: white;
  } 

  #Mylinks {
    font-size:x-large;
    font-style: oblique;
  }

  #heading{
    font-size:xx-large;
    color:teal;
    font-family: 'Spicy Rice', cursive;
  }